.h2-font {
    font-size: 24px;
    line-height: 13px;
    color: #2F2933;
    letter-spacing: -.07px;
}
.h2-margin {
    margin-bottom: 28px;
}
.par1-letters {
    letter-spacing: -.46px;
}
.margin-bt {
    margin-bottom: 17px;
}
.ulist-margin {
    margin-bottom: 23px;
}
.list-font {
    color: #666666;
    font-size: 16px;
    line-height: 40px;
}
.list-font >i {
    margin-right: 12px;
}
.download-btn {
    width: 220px;
    height: 50px;
    border: unset;
    border-radius: 2px;
    background-color: #EE3364;
    vertical-align: middle;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: .4px;
    color: #FFF;
    margin-bottom: 8px;
}
.download-btn >img {
    margin-left: 6px;
}
.gradient {
    width: 300px;
    height: 250px;
    background: linear-gradient(220deg, #0BA5C1, #3456C2);
}
.float-right {
    float: right;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}
.ad-font {
    font-size: 10px;
    line-height: 29px;
    color: #CCCCCC;
    letter-spacing: 1.7px;
}